* {
	box-sizing: border-box;
}

html {
	font-family: "Verdana", sans-serif;
	font-size: 16px;
	background-color: #FFFFFF;
	scroll-behavior: smooth;
}

nav {
	width: 100%;
	overflow: auto;
	background-color: #1C2527;
	position: fixed;
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(202, 103, 2, 0.25);
}

nav a {
	color: #CA6702;
	text-decoration: none;
}

.navContainerLogo {
	float: left;
}

.navContainer {
	float: right;
}

nav ul {
	list-style: none;
	text-transform: uppercase;
	padding-right: 20px;
	margin: 0;
}

nav li {
	float: left;
	padding: 10px 20px;
	border: 3px solid rgba(0, 0, 0, 0);
}

nav li:hover {
	border-top: 3px solid #CA6702;
}

nav img {
	width: 42px;
	padding: 5px;
}

header {
	padding-top: 50px;
	padding-bottom: 25px;
	background-color: #999999;
	color: #FFFFFF;
	background-image: url('images/digital-1742687_1920.jpg');
	background-position: center;
	background-size: 100%;
}

header h1 {
	padding-left: 20px;
	text-transform: uppercase;
}

header h2 {
	color: #FFFFFF;
	text-align: right;
	padding-right: 50px;
}

header p {
	font-size: 0.75rem;
	text-align: right;
	padding: 10px 50px;
}

header span {
	white-space: nowrap;
}

main {
	width: 80%;
	overflow: auto;
	margin: 0 auto;
	font-family: "Helvetica Neue", sans-serif;
}

main section {
	padding-top: 50px;
}

h2 {
	color: #CA6702;
	text-transform: uppercase;
	font-size: 1.25rem;
}

.containerLarge, .containerSmall {
	padding: 10px;
	float: left;
}

.containerLarge {
	width: 50%;
}

.containerSmall {
	width: 25%;
}

.containerLarge a, .containerSmall a {
	text-decoration: none;
	color: #FFFFFF;
}

.projectBox {
	position: relative;
	background-image: url('images/matcha-powder-2356768_1920.jpg');
	background-position: center;
	background-size: cover;
	border: 2px solid #333333;
	overflow: auto;
}

.projectBox.projectOne {
	background-image: url('images/CollectionApp.png');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid #999999;
}

.projectBoxBottom {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: rgba(28, 37, 39, 0.5);
}

.projectBoxBottom div {
	width: 100%;
	overflow: auto;
	border-top: 1px solid #999999;
}

.projectBoxBottom a {
	float: right;
	margin: 2px 10px 2px 0;
}

.projectBoxBottom a:hover {
	color: #CA6702;
}

.containerLarge .projectBox {
	min-height: 250px;
}

.containerLarge .projectBox li {
	font-size: 0.9rem;
}

.containerSmall .projectBox {
	min-height: 200px;

}

.containerSmall .projectBox li {
	font-size: 0.85rem;

}


main h3 {
	font-size: 1.15rem;
	color: #FFFFFF;
	width: 100%;
	margin: 0;
	background-color: rgba(28, 37, 39, 0.75);
	padding: 2px 5px;
}

main ul {
	float: right;
	padding-right: 10px;
	color: #FFFFFF;
}

.projectBoxBottom ul {
	margin: 5px 0;
	clear: both;
}

img.photo {
	width: 256px;
	float: left;
	border: 1px solid #CA6702;
	border-radius: 128px;
	margin: 20px;
}

#idAboutMe div {
	border-top: 1px solid #333333;
	background-color: #999999;
	color: #FFFFFF;
	padding: 10px;
	background-image: url('images/beautiful-bloom-blooming-blossom-371393.jpg');
	background-position: right center;
	background-size: 1750px;
	overflow: auto;
}

#idAboutMe h4 {
	color: #CA6702;
	margin-top: 0;
}

#idAboutMe ul {
	margin-top: 0px;
	float: left;
	background-color: transparent;
	width: auto;
}

#idAboutMe li {
	padding: 3px 0;
}

#idAboutMe p {
	margin: 20px;
}

#idAboutMe ion-icon {
	-ms-display: none;
	overflow: hidden;
}

footer {
	background-color: #1C2527;
	color: #CA6702;
	padding: 5px 20px;
	overflow: auto;
	border-top: 1px solid rgba(202, 103, 2, 0.5);
	border-bottom: 1px solid rgba(202, 103, 2, 0.5);
}

footer a {
	color: #CA6702;
}

footer ion-icon {
	font-size: 1.5rem;
}

.contactLeft {
	float: left;
	padding: 5px;
}

.contactRight {
	float: right;
	padding: 5px;
}

@media screen and (max-width: 768px) {
	html {
		font-size: 15px;
	}

	header {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	
	nav li {
		padding: 10px 10px;
	}
	
	main {
		width: 95%;
	}
	
	main section {
		padding-top: 40px;
	}
	
	.containerLarge {
		width: 100%;
	}
	
	.containerSmall {
		width: 50%;
	}
	
	img.photo {
		width: 256px;
		border-radius: 128px;
		margin: 10px;
	}
	
	#idAboutMe h4 {
		margin-top: 0px;
		margin-left: 0px;
	}	
}

@media screen and (max-width: 607px) {
	img.photo {
		width: 128px;
		border-radius: 64px;
		margin: 10px;
	}
}

@media screen and (max-width: 440px) {
	nav .navContainerLogo {
		display: none;
	}
}

@media screen and (max-width: 414px) {
	html {
		font-size: 12px;
	}

	nav li {
		padding: 10px 3px;
	}
	
	header {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	
	header h2 {
		padding-right: 20px;
	}
	
	header p {
		padding: 3px 20px;
	}
	
	main {
		width: 95%;
	}
	
	main section {
		padding-top: 35px;
	}
	
	.containerLarge, .containerSmall {
		width: 100%;
		padding: 10px 5px;
	}

	.containerLarge .projectBox, .containerSmall .projectBox {
		min-height: 150px;
	}
	
	.containerLarge .projectBox li, .containerSmall .projectBox li {
		font-size: 1rem;
	}
}

