:root {
	--accent-colour: #CA6702;
	--section-border: #1C2527;
	--default-background: #FFFFFF;
	--hover-white: #EEEEEE;
	--hover-background: #1C2527;
	--main-font: "IBMPlexSans", "Courier", sans-serif;
	--header-background: rgba(255, 255, 255, 0.5);
}

@font-face {
	font-family: "IBMPlexMono";
	src: url("./fonts/IBMPlexMono-Regular.ttf");
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('./fonts/IBMPlexSans-Regular.ttf');
}

* {
	box-sizing: border-box;
}

html {
	font-family: var(--main-font);
	font-size: 16px;
	background-color: var(--default-background);
	scroll-behavior: smooth;
}

/* nav */
nav {
	width: 100%;
	overflow: auto;
	position: fixed;
	z-index: 1;
	border-bottom: 1px solid var(--section-border);
	background-color: var(--default-background);
}

nav a {
	color: var(--accent-colour);
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	float: left;
	padding: 0.95em 1.25em;
	border-top: 5px solid transparent;
}

nav a:hover {
	color: var(--hover-white);
	background-color: var(--hover-background);
	border-top: 5px solid var(--accent-colour);
}

.navContainerLogo {
	float: left;
}

.navContainerLogo a {
	padding: 0;
	border-top: 5px solid transparent;
	height: 3.35em;
	width: 3.35em;
}

.navContainerLogo a:hover {
	border-top: 5px solid var(--accent-colour);
	background-color: var(--hover-background);
}

.navContainerLogo a img:hover {
	filter: grayscale(100%) contrast(200%) brightness(150%);
}

.navContainer {
	float: right;
}

nav img {
	width: 42px;
	padding: 0.3em;
	margin-left: 0.25em;
	margin-top: 0.2em;
}

/* header */
header {
	padding: 3em 1.2em 1.5em 1.2em ;
	border-bottom: 1px solid var(--section-border);
	background-image: url('images/html-code.jpg');
	background-position: top;
	background-repeat: no-repeat;
	overflow: auto;
	width: 100%;
}

header div {
	float:right;
}

header div:last-child {
	float: none;
}

header h1 {
	margin: 20px 0 5px 0;
	text-transform: uppercase;
	color: var(--accent-colour);
}

header h1 span {
	white-space: nowrap;
}

header h1, header h2, header p {
	background-color: var(--header-background);
	width: fit-content;
	border-radius: 0.25em;
}

#clockContainer {
	padding: 20px 20px 0 20px;
}

#clockContainer svg {
	border: 1px solid transparent;
	width: 150px;
	background-color: var(--header-background);
	border-radius: 50%;
}

#clockContainer svg:hover {
	border: 1px solid var(--accent-colour);
}

@media screen and (max-width: 1060px) {
	
}

@media screen and (max-width: 820px) {
	html {
		font-size: 15px;
	}

	.navContainer a {
		height: 3.3em;
	}

	header {
		padding-bottom: 20px;
	}
	
	#clockContainer {
		margin-top: 5px;
	}

	#clockContainer svg {
		width: 125px;
	}
}

@media screen and (max-width: 440px) {
	nav .navContainerLogo {
		display: none;
	}

	#clockContainer {
		display: none;
	}
}

@media screen and (max-width: 414px) {
	html {
		font-size: 12px;
	}

	nav a {
		font-size: 14px;
		padding: 10px;
	}
}

@media (hover: none) {
	nav a {
		padding-top: 15px;
		min-width: 48px;
		min-height: 48px;
	}

	nav a:hover {
		color: #CA6702;
		background-color: var(--default-background);
	}

	.navContainerLogo a:hover {
		border-top: 5px solid var(--accent-colour);
		background-color: var(--default-background);
	}

	.navContainerLogo a img:hover {
		filter: none;
	}
}
