@font-face {
	font-family: "IBMPlexMono";
	src: url("./fonts/IBMPlexMono-Regular.ttf");
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('./fonts/IBMPlexSans-Regular.ttf');
}

* {
	box-sizing: border-box;
}

html {
	font-family: "Courier New", "Courier", sans-serif;
	font-size: 16px;
	background-color: #FFFFFF;
	scroll-behavior: smooth;
}

nav {
	width: 80%;
	overflow: auto;
	background-color: rgba(28, 37, 39, 0.95);
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	z-index: 1;
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(202, 103, 2, 0.25);
	border-radius: 0 0 10px 10px;
}

nav a {
	color: #CA6702;
	text-decoration: none;
}

.navContainerLogo {
	float: left;
}

.navContainer {
	float: right;
}

nav ul {
	list-style: none;
	text-transform: uppercase;
	padding-right: 20px;
	margin: 0;
}

nav li {
	float: left;
	padding: 10px 20px;
	border: 3px solid rgba(0, 0, 0, 0);
}

nav li:hover {
	border-top: 3px solid #CA6702;
}

nav img {
	width: 42px;
	padding: 5px;
}

header {
	padding-top: 50px;
	padding-bottom: 25px;
	background-color: #999999;
	color: #EBEDFF;
	background-image: url('images/keyboard.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 1px solid #CA6702;
	border-radius: 0 0 10px 10px;
	overflow: auto;
	width: 80%;
	margin: 0 auto;
}

header div:first-child {
	float: left;
}

header h1 {
	padding-left: 20px;
	margin: 20px 0 5px 0;
	text-transform: uppercase;
}

h1, h2, h3, h4, footer {
	font-family: "IBMPlexMono", "sans-serif";
}

#clockContainer {
	padding: 0 0 0 20px;
	float: left;
	width: 175px;
}

header h2 {
	text-align: right;
	padding-right: 50px;
	color: #EBEDFF;
}

header p {
	font-size: 0.75rem;
	text-align: right;
	padding: 10px 50px;
}

header span {
	white-space: nowrap;
}

main {
	width: 80%;
	overflow: auto;
	margin: 0 auto;
	font-family: "Courier New", "Courier", sans-serif;
}

main section {
	padding-top: 50px;
}

h2 {
	color: #CA6702;
	text-transform: uppercase;
	font-size: 1.25rem;
}

.containerLarge, .containerSmall {
	padding: 10px;
	float: left;
}

.containerLarge {
	width: 50%;
}

.containerSmall {
	width: 25%;
}

.containerLarge a, .containerSmall a {
	text-decoration: none;
	color: #FFFFFF;
}

.projectBox {
	position: relative;
	background-image: url('images/digital-1742687_1920.jpg');
	background-position: center;
	background-size: cover;
	border: 2px solid #333333;
	overflow: auto;
	border-radius: 7px;
}

.projectBox:hover > .projectBoxBottom ul {
	display: block;
}

.projectBox.officeSignInApp {
	background-image: url('images/signInScreen.png');
	background-size: cover;
	background-position: top;
}

.projectBox.collectionApp {
	background-image: url('images/CollectionApp.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

.projectBox.pairsGame {
	background-image: url('images/pairsGame.png');
	background-position: top;
}

.projectBox.academyPortal {
	background-image: url('images/academyPortal.png');
	background-position: top left;
}

.projectBox.aptitudeTest {
	background-image: url('images/aptitudeTest.png');
	background-position: top;
}

.projectBox.makeAMealOfIt {
	background-image: url('images/makeAMealOfIt.png');
	background-position: top;
}

.projectBox.financeCalculator {
	background-image: url('images/financeCalculator.png');
	background-position: left;
	background-size: cover;
}

.projectBox.fastTimesTables {
	background-image: url('images/fastTimesTables.png');
	background-position: top left;
}

.projectBoxBottom {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: rgba(28, 37, 39, 0.7);
}

.projectBoxBottom ul {
	display: none;
	padding: 0 20px;
}

.projectBoxBottom ul a {
	border: 0;
	margin: 0;
	padding: 0;
	float: none;
}

.projectBoxBottom ul a:hover {
	border: 0;
}

.projectBoxBottom div {
	width: 100%;
	overflow: auto;
	border-top: 1px solid #999999;
	background-color: #1C2527;
}

.projectBoxBottom span {
	color: #CA6702;
}

.projectBoxBottom a {
	float: right;
	border-left: 1px solid #555555;
	padding-left: 3px;
	margin: 2px 10px 2px 0;
	font-size: 0.9rem;
}

.projectBoxBottom a:hover {
	color: #CA6702;
	border-left: 1px solid #999999;
}

.containerLarge .projectBox {
	min-height: 250px;
}

.containerSmall .projectBox {
	min-height: 200px;

}

.projectBox li {
	font-size: 0.8rem;
}

main h3 {
	font-size: 1.15rem;
	color: #FFFFFF;
	margin: 0;
	background-color: rgba(28, 37, 39, 0.75);
	padding: 2px 5px;
}

main ul {
	float: right;
	padding-right: 10px;
	color: #FFFFFF;
}

.projectBoxBottom ul {
	margin: 5px 0;
}

.info {
	font-size: 0.75rem;
}

img.photo {
	width: 256px;
	border: 1px solid #CA6702;
	border-radius: 128px;
	margin: 0 20px 20px 0;
	float: left;
}

#idAboutMe .aboutMeContainer {
	border-top: 1px solid #333333;
	overflow: auto;
	background-color: #999999;
	color: #FFFFFF;
	padding: 20px;
	background-image: url('images/wooden-floor-1853405_1920.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 10px 10px 0 0;
}

#idAboutMe h4 {
	color: #CA6702;
	background-color: rgba(28, 37, 39, 0.75);
	margin: 0 0 10px 50px;
	padding: 3px 0;
	border-top: 1px solid #CA6702;
	border-bottom: 1px solid #CA6702;
	border-radius: 5px;
}

#idAboutMe ul {
	margin: 0px;
	padding: 0 20px;
	float: left;
	background-color: transparent;
}

#idAboutMe li {
	padding: 3px 0;
}

#idAboutMe p {
	margin: 20px 0;
}

#idAboutMe img.csm {
	width: 32px;
	vertical-align: text-top;
}

#idAboutMe a {
	color: #FFFFFF;
	text-decoration: none;
}

#idAboutMe a:hover {
	color: #CA6702;
}

footer {
	background-color: #1C2527;
	color: #CA6702;
	padding: 5px 20px;
	border-top: 1px solid rgba(202, 103, 2, 0.5);
	border-bottom: 1px solid rgba(202, 103, 2, 0.5);
}

footer a {
	color: #CA6702;
}

footer ion-icon {
	font-size: 1.5rem;
}

.contactLeft {
	float: left;
	padding: 5px;
}

.contactRight {
	float: right;
	padding: 5px;
}

.copyright {
	clear: both;
	color: #999999;
	font-size: 0.6rem;
	text-align: right;
	padding-top: 3px;
	border-top: 1px solid #333333;
}

@media screen and (max-width: 1060px) {
	.containerLarge {
		width: 100%;
	}

	.containerSmall {
		width: 50%;
	}

	#idAboutMe .aboutMeContainer div:last-child {
		clear: both;
	}

	img.photo {
		width: 128px;
		border-radius: 64px;
		margin: 0 15px 15px 0;
	}

	#idAboutMe h4 {
		margin-left: 0px;
		padding: 0 0 0 5px;
	}	
}

@media screen and (max-width: 768px) {
	html {
		font-size: 15px;
	}

	header {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	
	nav li {
		padding: 10px 10px;
	}
	
	nav, header, main {
		width: 95%;
	}

	#clockContainer {
		width: 150px;
	}
	
	main section {
		padding-top: 40px;
	}
}

@media screen and (max-width: 440px) {
	nav .navContainerLogo {
		display: none;
	}

	#clockContainer {
		display: none;
	}
}

@media screen and (max-width: 414px) {
	html {
		font-size: 12px;
	}

	nav li {
		padding: 10px 3px;
	}

	nav, header {
		border-radius: 0 0 7px 7px;
	}
	
	header {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	
	header h2 {
		padding-right: 20px;
	}
	
	header p {
		padding: 3px 20px;
	}

	main section {
		padding-top: 35px;
	}
	
	.containerLarge, .containerSmall {
		width: 100%;
		padding: 10px 5px;
	}

	.containerLarge .projectBox, .containerSmall .projectBox {
		min-height: 200px;
	}
	
	.containerLarge .projectBox li, .containerSmall .projectBox li {
		font-size: 0.9rem;
	}

	.projectBox {
		border-radius: 5px;
	}

	#idAboutMe h4 {
		border-radius: 3px;
	}

	#idAboutMe .aboutMeContainer {
		padding: 11px;
		border-radius: 7px 7px 0 0;
	}
}

@media (hover: none) {
	.projectBoxBottom ul {
		display: block;
	}
}